body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input,select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
    color: aqua;
    background-color: blueviolet;
}
.item {
   background-color: #1054db;
   color: aqua;
   padding: 20px;
   border-radius: 10px;
   margin: 10px;
}
span{
    margin: 50px;
}
.delete{
    background-color: red;
}